.main-header{
    height:10rem;
    /* border:1px solid white */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 1rem
}

.main-header > .left-header >img{
    height:10rem;

}