.home-card{
    width:90%;
    border:1px solid white;
    height:13rem;
    display:flex;
    gap:1rem;
    align-items: center;
    background-color: gray;
}
.home-card>img{
    height:10rem;
    
}