.home-card{
    width:90%;
    height:13rem;
    display:flex;
    gap:1rem;
    align-items: center;
    background-color: rgba(128, 128, 128,0.5);
    border-radius: 20px;
}
.home-card>img{
    height:10rem;
    
}
.home-card > .card-info{
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:0 1rem;
    align-items: center;
    
}
.home-card > .card-info > h2{
    font-size: 1.4rem;
}